*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	width: 100%;
    background-color: rgb(255, 0, 0, 0.3);
    cursor: cell;
}
svg {
    transform: rotate(90deg);
  }

  path {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }
.container{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


canvas{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    /* border-top-left-radius : 10px;
    border-top-right-radius : 10px; */
    background-color: rgb(255, 255, 255);
}

.toolbox{
    position: relative;
    width: 500px;
    height: 50px;
    background: rgb(255, 0, 0, 0.5);
    display: flex;
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    
    align-items: center;
    border: 1px solid black;
}

.toolbox > *{

    background-color: rgb(255, 255, 255);
    border: none;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
}

.toolbox > *:hover{

    background-color: rgba(185, 160, 160);
    cursor: pointer;
    
}


@media (max-width: 440px) {
	canvas{
        width: 300px;
        height: 400px;
        
    }

    .toolbox{
        
        width: 300px;
        height: 50px;
        
    }

    #clear{
        position: relative;
        left: 0;
    }
}